@keyframes MovePipes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000px -1000px;
    }
}

.pipes {
    background: url('../../../../public/assets/img/pipes.webp');
    animation: MovePipes 60s linear infinite;
}