.component,
.component * {
    transition: opacity 200ms ease-in-out;
}

.component {
    width: 100%;
    user-select: none;
}

.component .label {
    opacity: .5;
}

.component:focus .label,
.component:focus-within .label {
    opacity: 1;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input {
    -moz-appearance: textfield;
}
