.component {
    &:where([data-scope="button"][data-part="root"]) {
        --color: var(--group-color, #4393e4);
        --animation-speed: 100ms;

        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-items: center;
        background: rgb(from var(--color) r g b / 0.1);
        outline: 1px solid rgb(from var(--color) r g b / 0.25);
        border-radius: 6px;
        padding: 0.2rem 0.4rem;
        gap: 0.5ch;
        position: relative;
        border: none;
        transition: background var(--animation-speed) ease-in-out, padding var(--animation-speed) ease-in-out;
       
        svg {
            width: 1.5rem;
            height: 1.5rem;
            color: #ffffff;
        }

        &:hover {
            background: rgb(from var(--color) r g b / 0.25);
            outline: 1px solid rgb(from var(--color) r g b / 0.5);
        }
    }
}