@keyframes OpenPage {
    from {
        opacity: 0;
        transform: scale(95%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes ClosePage {
    to {
        opacity: 0;
        transform: scale(95%);
    }
    from {
        opacity: 1;
        transform: scale(100%);
    }
}

.component {
    animation: OpenPage;
    animation-duration: 150ms;
}

.component.close {
    animation: ClosePage;
    animation-duration: 150ms;
}

.desktop .layout {
    display: flex;
    padding-top: 8px;
    gap: 8px;
}

.desktop .itemsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;

    gap: 8px;
}

.desktop .itemsList .item {
    min-width: 200px;
    width: 100%;
    height: max-content;
}

.desktop .tableList {
    display: flex;

    flex-direction: column;
    flex: min-content 1 1;

    gap: 8px;
}

.desktop .tableList .table {
    height: max-content;
    min-width: 600px;
}


@media screen and (max-width: 1536px) {
    .desktop .itemsList {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .desktop .layout {
        flex-direction: column;
    }

    .desktop .tableList .table {
        min-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .desktop .itemsList {
        grid-template-columns: 1fr;
    }
}




